    <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MITIENDA.BlazorServer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home mr-3 fa-2x" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="fa fa-vector-square mr-3 fa-2x" aria-hidden="true"></span> Categorias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="fas fa-boxes mr-3 fa-2x" aria-hidden="true"></span> Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="fas fa-user-tag mr-3 fa-2x" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <span class="fas fa-chart-line mr-3 fa-2x" aria-hidden="true"></span> Ventas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="invoces">
                <span class="fas fa-file-invoice-dollar mr-3 fa-2x" aria-hidden="true"></span> Facturas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="proctsales">
                <span class="fas fa-tasks mr-3 fa-2x" aria-hidden="true"></span> Por productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customerssales">
                <span class="fas fa-people-carry mr-3 fa-2x" aria-hidden="true"></span> Por clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categoriessale">
                <span class="fas fa-project-diagram mr-3 fa-2x" aria-hidden="true"></span> Por categorias
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
